* {
	margin: 0;
	padding: 0;
}
html {
	text-align: center;
}
#header {
	font-size: 28px;
	line-height: 50px;
	min-height: 0;
}
#wrapper {
	margin-top: 10px;
	min-height: 50px;
}
.tempo {
	display: inline-block;
	line-height: 70px;
	font-size: 24px;
	vertical-align: middle;
	text-align: left;
}
.units {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	white-space: nowrap;
	width: 0;
	margin: 0px -20px 0 20px;
}
.units li {
	text-align: left;
}
.units input[type="radio"]:checked + label {
	color: black;
}
.tap {
	width: 100%;
	height: 20%;
	background: #303031;
	color: #767676;
	position: fixed;
	bottom: 0;
	font-size: 28px;
	line-height: 28px;
	text-align: center;
	display: table;
}
.tap span {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
form {
	text-align: center;
	overflow: auto;
}
fieldset {
	margin: 5px 0;
}
fieldset legend {
	display: inline;
}
.sp-button[disabled] {
    opacity: 0.6;
}
.sp-list {
	text-align: left;
	text-shadow: none;
}
.sp-list-cell-tempo {
	text-align: right;
}
.sp-list-heading-sortable:active:hover {
	border-left-color: #e5e5e5;
	background: url(../img/header.png);
}
.sp-list-heading-sorted {
	border-left-color: #cccccc;
	padding-right: 15px;
}
.sp-list-heading-sorted-asc {
	background: url(../img/header-sorted-asc.png) right 4px top 7px no-repeat, url(../img/header.png) 0 -22px;
}
.sp-list-heading-sorted-desc {
	background: url(../img/header-sorted-desc.png) right 4px top 8px no-repeat, url(../img/header.png) 0 -22px;
}
.sp-list-heading-sorted:active:hover {
	border-left-color: #b2b2b2;
}
.sp-list-heading-sorted-asc:active:hover {
	background: url(../img/header-sorted-asc.png) right 4px top 7px no-repeat, url(../img/header.png) 0 -44px;
}
.sp-list-heading-sorted-desc:active:hover {
	background: url(../img/header-sorted-desc.png) right 4px top 8px no-repeat, url(../img/header.png) 0 -44px;
}
.range {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: -5px;
	padding: 0 11px;
}
.track {
	height: 14px;
	width: 100%;
	background: url(sp://import/img/scrollbars/light/horizontal-track-left.png) left no-repeat, url(../img/horizontal-track-right.png) right no-repeat, url(sp://import/img/scrollbars/light/horizontal-track.png);
	margin: 0 -11px;
	padding: 0 11px;
}
.range .min {
	float: left;
	margin-left: -7px;
}
.range .max {
	float: right;
	margin-right: -7px;
}
.track .marked {
	height: 100%;
	position: relative;
	background: url(sp://import/img/scrollbars/light/horizontal-thumb-middle.png);
}
.track .marked .handle {
	width: 7px;
	height: 14px;
}
.track .marked .min {
	background: url(sp://import/img/scrollbars/light/horizontal-thumb-left.png);
}
.track .marked .max {
	background: url(sp://import/img/scrollbars/light/horizontal-thumb-right.png);
}
.sp-tabbar-tab {
	white-space: pre;
}
.button-input {
	border: 0;
	position: relative;
}
.sp-tabbar .admin-icon {
	height: 12px;
	width: 12px;
	display: none;
}
.sp-tabbar .admin-icon:hover {
	background-position-x: -12px;
}
.sp-tabbar .admin-icon:hover:active {
	background-position-x: -24px;
}
.tabbar-profiler .profile-new {
	display: inline-block;
	margin: -2px 2px;
	background-image: url(../img/profile-new.png);
}
.tabbar-profiler .sp-tabbar-tab-active .profile-edit {
	display: inline-block;
	margin: -2px 0 -2px 6px;
	background-image: url(../img/profile-edit.png);
}
.tabbar-profiler .sp-tabbar-tab-active .profile-delete {
	display: inline-block;
	margin: -2px -2px -2px 4px;
	background-image: url(../img/profile-delete.png);
}